
.cards{
    padding: 40px 20px 0px 0px;
}
.card{
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    height: 215px;
}
.thumbnail {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 250px;
    height: 215px;

}
.thumbnail img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}
.cardcontent{
    display: flex;
    flex-direction: column;

}
.cardtext{
padding: 10px 0px;
}

.cardcategories{
    display: flex;
    text-align: center;
    flex-basis: fit-content;
    padding: 8px 12px;
    border: 1px var(--pink);
    border-style: solid ;
    border-radius: 50px;
}
