
.cards{
    padding: 40px 20px 0px 0px;
}
.card{
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
}
.thumbnail {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}
.thumbnail img {
    flex-shrink: 0;
    height: 215px;
}
.cardcontent{
    display: flex;
    flex-direction: column;
    padding: 0px 0px 0px 20px;

}
.cardtext{
padding: 10px 0px;
}

.cardcategories{
    display: flex;
    text-align: center;
    flex-basis: fit-content;
    padding: 8px 12px;
    border: 1px var(--pink);
    border-style: solid ;
    border-radius: 50px;
}
