.navbar {
    width: 80%;
    padding: 20px 10%;
    overflow: hidden;
    background-color: var(--offwhite);
    border-bottom: 1px var(--offwhiteshadow);
    border-style: solid none;
    border-top: none;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 100%px;
}

#logosearch{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

#inkwell{
    font-family: PP Editorial New;
    font-size: 32px;
    color: var(--midtonebrown);
}

.searchbutton{

    border: none;
    background-color: var(--offwhite);
    color: var(--midtonebrown);
}

.signup{
    padding: 10px 20px;
    background-color: var(--brown);
    border: 1px var(--brown);
    border-radius: 4px;
    color: var(--offwhite);
}

.login{
    padding: 10px 20px;
    background-color: var(--brown);
    border: 1px var(--brown);
    border-radius: 4px;
    color: var(--offwhite);
}

.profile_nav{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}
.role{
    color: var(--midtonebrown);
}

.edit{
    padding: 10px 20px;
    background-color: var(--midtonebrown);
    border: 1px var(--midtonebrown);
    border-radius: 4px;
    color: var(--offwhite);
}

.pfp{
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    background-image: url('../Images/thumbnaildemo.png');
}
.success{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 150px;

}


@media only screen
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2) {

    .navbar {
        width: 90%;
        padding: 30px 5% 20px 5%;
        overflow: hidden;
        background-color: var(--offwhite);
        border-bottom: 1px var(--offwhiteshadow);
        border-style: solid none;
        border-top: none;
        position: fixed;
        top: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        max-width: 1200px;
    }
    #inkwell{
        font-family: PP Editorial New;
        font-size: 50px;
        color: var(--midtonebrown);
    }
    button{
        font-size: 32px;
    }
    .signup{
        padding: 20px 30px;
        background-color: var(--brown);
        border: 1px var(--brown);
        border-radius: 4px;
        color: var(--offwhite);
    }

    .login{
        padding: 20px 30px;
        background-color: var(--brown);
        border: 1px var(--brown);
        border-radius: 4px;
        color: var(--offwhite);
    }

}