.searchagainbutton{
    padding: 20px 200px;
    background-color: white;
    border: 1px var(--offwhiteshadow);
    border-style: solid ;
    border-radius: 50px;
    color: var(--midtonebrown);
    margin-top: 10px;
    
}

.resultcontainer{
    margin-top: 100px;
    padding: 0px 5%;
    
}

.searchagain{
    padding: 10px 20px;
    margin-top: 10px;
    background-color: var(--brown);
    border: 1px var(--brown);
    border-radius: 4px;
    color: var(--offwhite);
    margin-right: 5%;
    float: right;

}
.resultcards{
    padding: 10px 40px 0px 0px;
    gap: 20px;
}

.resultcard{
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.nav-link {
    text-align: center;
    margin-bottom: 0px; 
    color:black;
}

.card-anchor {
    text-decoration: none;
    color: inherit;
}

.card-anchor:hover {
    text-decoration: none;
}