.flexcontainer-big {
    display: flex;
    flex-direction: row;

}

/* WHY WON'T THE IMAGE SIZE CHANGE TO FILL THE BOX AGHGHHHGH */
.flexcontainer-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12%;
    width: 780px;
    background-image: url("Images/signuppage.png");
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
}

.flexcontainer-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 12%;
    margin-left: 10%;
    width: 550px;
}

.entertext {
    --padding: 14px;
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--padding);
    border-radius: 8px;
    border: solid;
    border-color: var(--offwhiteshadow);
    background: white;
    width: 500px;
}

.search-input {
    font-size: 16px;
    margin-left: var(--padding);
    color: #333333;
    outline: none;
    border: none;
    background: transparent;
    flex: 1;
}

.inputbars {
    margin-top: -5%;
    justify-content: center;
}

.centerbtn {
    justify-content: center;
}



/* MOBILE RESPONSIVENESS */
@media screen and (max-width: 760px){
    .flexcontainer-big {
        display: flex;
        flex-direction: row;
    }

    /* WHY WON'T THE IMAGE SIZE CHANGE TO FILL THE BOX AGHGHHHGH */

    .flexcontainer-img {
        display: none;
        justify-content: center;
        align-items: center;
        margin-top: 12%;
        width: 780px;
        background-image: url("Images/signuppage.png");
        background-size: 70%;
        background-position: center;
        background-repeat: no-repeat;
    }

    .flexcontainer-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 12%;
        margin-left: 10%;
        width: 550px;
    }

    .entertext {
        --padding: 14px;
        width: max-content;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: var(--padding);
        border-radius: 8px;
        border: solid;
        border-color: var(--offwhiteshadow);
        background: white;
        width: 350px;
    }

    .search-input {
        font-size: 16px;
        margin-left: var(--padding);
        color: #333333;
        outline: none;
        border: none;
        background: transparent;
        flex: 1;
    }

    .inputbars {
        margin-top: -5%;
        justify-content: center;
    }

    .centerbtn {
        justify-content: center;
    }

}